body {
    background: url(../imagenes/eras.jpg);
    background-size:cover;
    background-attachment: fixed;
    color: #ffffff;
}

h2, h3{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration:overline;
    color: #000000;
    text-shadow: 5px 5px 5px #ece8e8;
}

h3 {
    font-size: 25px;
}

h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-shadow: 5px 5px 5px #39393b;
    color: #000000;
}

div {
    background: rgba(24, 24, 24, 0.8);
    text-align: center;
    padding: 30px;
    border-radius: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 20px 50px;
    line-height: 30px;
}

.menu {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, .8);
}

.menu li {
    display: inline-block;
}

.menu li a {
    padding: 10px 20px;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #504d4d;
}