body {
    background: #eceaea;
    color: #ffffff;
}

header, .main {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
}

header nav {
    background:#eceaea;
    overflow: hidden;
    color: #000000;
    text-decoration: none;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    text-decoration: none;
    color: #000000;
    padding: 10px 20px;
    display: block;
}

.main .articles {
    width: 68.5%;
    margin-right: 1.5%;
    float: left;
}

.main .articles article {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #39393b;
}

aside {
    width: 30%;
    background: #39393b;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

h2, h3{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration:overline;
    color: #000000;
    text-shadow: 5px 5px 5px #ece8e8;
}

h3 {
    font-size: 25px;
}

h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-shadow: 5px 5px 5px #39393b;
    color: #000000;
}

